stages:
  - test
  - test_docs
  - test_build
  - deploy

variables:
  USER: "cosapp_test"

.job_rules:
  rules:
    - if: $CI_COMMIT_TAG
      when: always
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == $CI_DEFAULT_BRANCH
    - when: manual

# Test script for all OS
.test_script:
  script:
    - micromamba create -y -n cosapp python=$PYTHON_VERSION jsonschema numpy "scipy<1.16" pandas jinja2 pytest pyfmi "pythonfmu=0.6.5" asv_runner
    - micromamba activate cosapp
    - pip install . --trusted-host=files.pythonhosted.org
    - python -m pytest

# Default windows job parameters
.windows_test_env:
  stage: "test"
  tags:
    - saas-windows-medium-amd64
  before_script:
    - Invoke-Expression ((Invoke-WebRequest -Uri https://micro.mamba.pm/install.ps1 -UseBasicParsing).Content)
    # Reload PATH manually to ensure Micromamba is recognized
    - $env:PATH = [System.Environment]::GetEnvironmentVariable("PATH", "User") + ";" + [System.Environment]::GetEnvironmentVariable("PATH", "Machine")
    - echo $env:PATH
    - micromamba shell init --shell powershell
    - micromamba shell hook -s powershell | Out-String | Invoke-Expression
    - micromamba config append channels conda-forge
    - "if (test-path $PROFILE.CurrentUserAllHosts) {& $PROFILE.CurrentUserAllHosts}"
    - md -Path $env:USERPROFILE\.cosapp.d

# Default linux environment parameters
.linux_common_env:
  image: "mambaorg/micromamba:latest"
  before_script:
    - eval "$(micromamba shell hook --shell bash)"
    - micromamba activate
    - micromamba shell init --shell bash --root-prefix=~/micromamba
    - micromamba config append channels conda-forge
    - mkdir -p $HOME/.cosapp.d

# Default linux job parameters
.linux_test_env:
  extends: 
    - ".linux_common_env"
  # tags: 
  #   - saas-linux-medium-amd64
  stage: test

# Deployment env (runs on public runner)
.deploy_env:
  extends: 
    - ".linux_common_env"
  stage: deploy

linux_py39:
  extends: 
    - ".linux_test_env"
    - ".job_rules"
    - ".test_script"
  variables:
    PYTHON_VERSION: "3.9"

linux_py310:
  extends: 
    - ".linux_test_env"
    - ".job_rules"
    - ".test_script"
  variables:
    PYTHON_VERSION: "3.10"

linux_py311:
  extends: 
    - ".linux_test_env"
    - ".job_rules"
  variables:
    PYTHON_VERSION: "3.11"
  script:
    - micromamba create -y -n cosapp python=$PYTHON_VERSION jsonschema numpy "scipy<1.16" pandas jinja2 pytest pyfmi "pythonfmu=0.6.5" asv_runner coverage
    - micromamba activate cosapp
    - pip install .
    - coverage erase
    - coverage run -m pytest -ra
    - coverage report
    - coverage html -d coverage/
  artifacts:
    paths:
      - coverage/
    expire_in: 2 weeks  


# windows_py311:
#     extends: 
#      - ".windows_test_env"
#      - ".job_rules"
#      - ".test_script"
#     variables:
#       PYTHON_VERSION: "3.11"


# Deployment jobs
build_doc:
  stage: test_docs
  needs: []
  extends: 
    - ".linux_common_env"
    - ".job_rules"
  variables:
    BUILDDIR: _build
    PYTHON_VERSION: "3.11"
  script:
    - micromamba env create --name cosapp --file docs/environment.yml
    - micromamba activate cosapp
    - pip install .
    - cd docs/
    - sphinx-build -b html -d $BUILDDIR/doctrees . $BUILDDIR
  artifacts:
    paths:
      - docs/$BUILDDIR

# Package build job
build_pkg:
  stage: test_build
  needs: []
  extends: 
    - ".linux_common_env"
    - ".job_rules"
  variables:
    JOB_DEP: conda-build pip setuptools jupyterlite-core jupyterlite-xeus ipywidgets jupyter_server
    PYTHON_VERSION: "3.11"
  script:
    - micromamba create -y -n cosapp python=$PYTHON_VERSION
    - micromamba activate cosapp
    - micromamba install -y $JOB_DEP
    - python setup.py sdist bdist_wheel
    - conda build -c conda-forge --no-test --output-folder ./dist conda.recipe
    - cd jupyterlite
    - python build.py
  artifacts:
    paths:
      - dist/

# Deployment job
deploy:
  extends: 
    - ".deploy_env"
  variables:
    JOB_DEP: setuptools wheel twine packaging anaconda-client conda-build
    TWINE_USERNAME: __token__
    TWINE_PASSWORD: $PYPI
    CONDA_USERNAME: cosapp
    CONDA_UPLOAD_TOKEN: $CONDA_UPLOAD_TOKEN
  script:
    - micromamba install -y $JOB_DEP
    - python setup.py sdist bdist_wheel
    - twine upload dist/*.tar.gz
    - twine upload dist/*.whl
    - conda build -c conda-forge --no-test --output-folder ./dist conda.recipe
    - anaconda -t $CONDA_UPLOAD_TOKEN upload -u $CONDA_USERNAME ./dist/noarch/cosapp*
  artifacts:
    paths:
      - dist/
  rules:
    - if: $CI_COMMIT_TAG

# Deployment on GitLab Pages
pages:
  extends: 
    - ".deploy_env"
  stage: deploy
  variables:
    PYTHON_VERSION: "3.11" 
  script:
    - micromamba create -y -n cosapp python=$PYTHON_VERSION
    - micromamba activate cosapp
    - micromamba install -y pip setuptools jupyterlite-core jupyterlite-xeus ipywidgets jupyter_server
    - python setup.py sdist
    - cd jupyterlite
    - python build.py
    - mv dist/ ../public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: on_success
