stages:
  - test
  - test_docs
  - test_build
  - deploy

variables:
  COSAPP_DEP: jsonschema ipython jinja2 watchdog openpyxl ipykernel nbconvert ipywidgets plotly pytest pyfmi scipy pandas packaging typing pythonfmu~=0.6.0
  USER: "cosapp_test"

# Test script for all OS
.test_script:
  script:  
    - mamba create -y -n cosapp python=$PYTHON_VERSION
    - source activate cosapp
    - mamba install -y $COSAPP_DEP
    - pip install . --trusted-host=files.pythonhosted.org
    - python -m pytest 
  
  only:
   - pushes
   - merge_requests

# # default windows job parameters
# .windows_env:
#   stage: "test"
#   tags:
#     - shared-windows
#     - windows
#     - windows-1809
#   before_script:
#     - Import-Module "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
#     - choco install -y miniconda3 --params="'/AddToPath:1'"
#     - RefreshEnv
#     - conda config --add channels conda-forge
#     - conda init powershell
#     - "if (test-path $PROFILE.CurrentUserAllHosts) { & $PROFILE.CurrentUserAllHosts}"
#     - md -Path $env:USERPROFILE\.cosapp.d

# default linux environment parameters
.linux_common_env:
  image: "condaforge/mambaforge:latest"
  before_script:
    - mkdir -p $HOME/.cosapp.d

# default linux job parameters
.linux_env:
  extends: 
    - ".linux_common_env"
  tags: 
    - cosapp_runner
  stage: test

# Deployment env (runs on public runner)
.deploy_env:
  extends: 
    - ".linux_common_env"
  stage: deploy

linux_py37:
    extends: 
     - ".linux_env"
     - ".test_script"
    variables:
      PYTHON_VERSION: "3.7" 

linux_py38:
    extends: 
     - ".linux_env"
     - ".test_script"
    variables:
      PYTHON_VERSION: "3.8" 

linux_py39:
  extends: 
    - ".linux_env"
  variables:
    PYTHON_VERSION: "3.9" 
  script:
    - mamba create -y -n cosapp python=$PYTHON_VERSION
    - source activate cosapp
    - mamba install -y $COSAPP_DEP coverage
    - pip install .
    - coverage erase
    - coverage run -m pytest -ra
    - coverage report
    - coverage html -d coverage/    
  artifacts:
    paths:
      - coverage/  
    expire_in: 2 weeks  

  only:
   - pushes
   - merge_requests

# windows_py37:
#     extends: 
#      - ".windows_env"
#      - ".test_script"
#     variables:
#       PYTHON_VERSION: "3.7"

# windows_py38:
#     extends: 
#      - ".windows_env"
#      - ".test_script"
#     variables:
#       PYTHON_VERSION: "3.8"

# windows_py39:
#     extends: 
#      - ".windows_env"
#      - ".test_script"
#     variables:
#       PYTHON_VERSION: "3.9"


#Deployment jobs
build_doc:
  stage: test_docs
  extends: 
    - ".linux_env"
  variables:
    JOB_DEP: $COSAPP_DEP jupyter_client "conda-forge::sphinx>=1.5" "nbsphinx>=0.6.0" sphinx-copybutton m2r2 requests_ntlm pythonfmu
    BUILDDIR: _build
    PYTHON_VERSION : "3.9"
  script:
    - mamba env create --name cosapp --file docs/environment.yml
    - source activate cosapp
    - pip install .
    # Build the documentation
    - cd docs/
    - sphinx-build -b html -d $BUILDDIR/doctrees . $BUILDDIR
    
  artifacts:
    paths:
      - docs/$BUILDDIR
  only:
      - master
      - merge_requests


build_pkg:
  stage: test_build
  extends: 
    - ".linux_env"
  variables:
    JOB_DEP: conda-build conda-verify
    PYTHON_VERSION : "3.9"
  script:
    - mamba create -y -n cosapp python=$PYTHON_VERSION
    - source activate cosapp
    - mamba install -y $JOB_DEP
    - python setup.py sdist bdist_wheel
    - conda build -c conda-forge --no-test --output-folder ./dist conda.recipe
  artifacts:
    paths:
      - dist/
  only:
      - master
      - merge_requests


deploy:
  extends: 
    - ".deploy_env"
  variables:
    JOB_DEP: setuptools wheel twine packaging anaconda-client conda-build conda-verify
    TWINE_USERNAME: __token__
    TWINE_PASSWORD: $PYPI
    CONDA_USERNAME: cosapp
    CONDA_UPLOAD_TOKEN : $CONDA_UPLOAD_TOKEN
  script:
    - mamba install -y $JOB_DEP -c conda-forge
    - python setup.py sdist bdist_wheel
    - twine upload dist/*.tar.gz
    - twine upload dist/*.whl
    - conda build -c conda-forge --no-test --output-folder ./dist conda.recipe
    - anaconda -t $CONDA_UPLOAD_TOKEN upload -u $CONDA_USERNAME ./dist/noarch/cosapp*

  artifacts:
    paths:
      - dist/
  only:
    - tags
