include AUTHORS.md
include CONTRIBUTING.md
include HISTORY.md
include LICENSE.rst
include README.md

include cosapp/core/configuration_schema.json
include cosapp/ports/unit_library.ini
recursive-include cosapp *.schema.json
recursive-include cosapp/tools/templates *
recursive-include cosapp/tools/problem_viewer/visualization *

recursive-include cosapp/tutorials *.ipynb *.svg *.py

recursive-include cosapp/tests *
recursive-exclude cosapp/tests *.html
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif *.svg *.ipynb *.py
recursive-exclude docs source/_autosummary/*
prune docs/_build

recursive-include docs/cosapp_theme *

recursive-exclude * .ipynb_checkpoints/*
